<form action="/" method="POST">
  <label for="city">Pick a location:</label>
  <select name="city" id="">
    <option value="" data-display="Select">Pick any location</option>
    <option value="London">London: Trafalgar Square</option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <input type="submit" value="Get Weather">
</form> 