<form action="/" method="POST">
  <label for="city">Pick a location:</label>
  <select name="city" id="">
    <option value="" data-display="Select">Pick any location</option>
    <option value="London">London</option>
    <option value="Osaka">Osaka</option>
    <option value="New York">New York</option>
    <option value="Tokyo">Tokyo</option>
    <option value="Rosslyn Farms">Washington DC</option>
    <option value="Beijing">Beijing</option>
    <option value="Mumbai">Mumbai</option>
    <option value="Paris">Paris</option>
    <option value="Singapore">Singapore</option>
  </select>
  <input type="submit" value="Get Weather">
</form> 